:root {
	--white: white;
	--green: #57F287;
	--blue: #5865F2;
	--red: #ED4245;
	--accent: #37cdbe;
	--neutral: #3d4451;
	--base-100: #0F1117;
	--base-200: #2A2E35;
	--font-primary: "sofia-pro", sans-serif;
	--font-secondary: "cubano", sans-serif;
}
