@import"https://use.typekit.net/rcr1opg.css";
@import"https://www.w3schools.com/w3css/4/w3.css";
@import"https://www.w3schools.com/w3css/4/w3pro.css";

:root {
	--white-color: white;
	--green-color: #57F287;
	--blue-color: #5865F2;
	--red-color: #ED4245;
	--accent-color: #37cdbe;
	--neutral-color: #3d4451;
	--base-100: #0F1117;
	--base-200: #2A2E35;
	--font-primary: "sofia-pro", sans-serif;
	--font-secondary: "cubano", sans-serif;
}

.gradient-text {
	background-image: linear-gradient(to top, var(--tw-gradient-stops));
	--tw-gradient-from: var(--blue-color);
	--tw-gradient-to: rgb(249 115 22 / 0);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
	--tw-gradient-to: var(--white-color);
	background-clip: text;
	color: #0000;
	-webkit-background-clip: text
}

.bold-text {
	font-weight: bolder;
}
